#Archivo de ejemplo template ejecutado desde ansible escrito en jinja2
#https://jinja.palletsprojects.com/en/3.0.x/

#Variable= {{ Variable_Vars_main |upper }}

Nombre Grupo: {{ Nombre_Grupo }}
División: {{ Division }}
Fecha: {{ '%d-%m-%Y' | strftime }}
—-------------------------
Distribución: {{ version_so }}
Cantidad de Cores: {{ cores_vm }}
—-------------------------
{% set roles_expandida = [] %}

{% for miembro in LISTA_GRUPOS %}
  {% for rol in miembro.Rol %}
    {% set _ = roles_expandida.append({
      "Rol": rol,
      "Nombre": miembro.Nombre,
      "Apellido": miembro.Apellido
    }) %}
  {% endfor %}
{% endfor %}

{% for item in roles_expandida | sort(attribute='Rol') %}
{{ item.Rol }}: Nombre: {{ item.Nombre }}      Apellido: {{ item.Apellido }}
{% endfor %}







